<% if signed_in? %>
  <nav class='nav'>
    <div class='container'>
      <ul class='nav_links'>
        <% if controller_name == 'categories' %>
          <li>
            <%= link_to root_path do %>
              <i class="fa-solid fa-angle-left"></i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to 'Categories', categories_path %></li>
        <% end %>
        <li><%= controller_name.capitalize %></li>
        <li><%= button_to 'log out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% end %>